.card {
    margin: 30px;
}

@include media-breakpoint-only(xs) {
    .btn-block-xs-only {
        display: block;
        width: 100%;
    }
    .card-link+.card-link {
        margin-left: 0rem;
    }
}