{% extends 'base.html' %}

{% block link %}

<link rel="stylesheet" href='/static/styles/css/dashboard.css'/>

{% endblock %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  {% comment %} Hi {{ user.username }}!
  <p>You are not logged in</p>


  <p><a href="{% url 'logout' %}">logout</a></p> {% endcomment %}
<div class="body">
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Quesadiya</a>
      {% comment %} <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> {% endcomment %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'logout' %}">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <div class="nav-link active" >
                  <span data-feather="book-open"></span>
                    {{ infos.0.project_name }}
                  <span class="sr-only">(current)</span>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link" >
                  <span data-feather="user"></span>
                  {{ infos.0.participants }}
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link" >
                  <span data-feather="info"></span>
                  {{ infos.0.project_description }}
                </div>
              </li>
              

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Status</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <div class="nav-link" >
                  <span data-feather="hash"></span>
                  Total<span> : {{ infos.0.total }}</span>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link" >
                  <span data-feather="hash"></span>
                  Finished<span> : {{ infos.0.finish }}</span>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link" >
                  <span data-feather="hash"></span>
                  Unlabled<span> : {{ infos.0.unLabled }}</span>
                </div>
              </li>
              <li class="nav-item">
                <div class="nav-link" >
                  <span data-feather="hash"></span>
                  Abolished<span> : {{ infos.0.abolished }}</span>
                </div>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ infos.0.project_name }}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              {% comment %} <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div> {% endcomment %}
              {% comment %} <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button> {% endcomment %}
            </div>
          </div>
          <div class="row">
            <div class="col-4 w-auto border-right">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ anchor_data.0.sample_id }}</h5>
                  {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                  <p class="card-text">{{ anchor_data.0.sample_body }}</p>
                  <a href="#" class="card-link">Finished</a>
                  <a href="#" class="card-link">Next</a>
                </div>
              </div>
            </div>
            <div class="col-8">
              {% for candidate in candidate_groups %}
              <div class="card mb-2">
                <h5 class="card-header">{{ candidate.candidate_sample_id }}</h5>
                <div class="card-body">
                  <h5 class="card-title">{{ candidate.sample_title }}</h5>
                  <p class="card-text">{{ candidate.sample_body }}</p>
                  <a href="#" class="btn btn-primary">Select</a>
                </div>
              </div>
              {% endfor %}
              
              
             
            </div>
          </div>
          
        </main>
      </div>
    </div>
</div>
{% else %}
  Your Need To <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
{% block script %}
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>
{% endblock %}